*{
    margin: 0px ;
    padding: 0px;

}
body{
    background-image:linear-gradient(pink ,red, orange, gray, white );
    background-repeat: no-repeat;
    align-items: center;
    display: flex;
    justify-content: center;
}
.container{
    width: 400px;
    height: 500px;
    border: 1px solid black;
    border-radius: 30px;
    margin-top: 200px;
    background-color: rgb(213, 171, 213);
    
}
.container>img{
    width: 100%;
    height: 300px;
    border-radius: 30px;
    
  
}
.container>h1,h2{
    text-align: center;
}
.fixedcontainer{
    border: 1px solid black;
    height: 4px;
    width: 100%;
    background-color: black;
    margin-top: 10px;
}
.movable{
    border: 1px solid rgb(240, 244, 9);
    height: 4px;
    width:0%;
    background-color: rgb(240, 244, 9);
}
.time{
    display: flex;
    justify-content: space-between;
    align-items:center ;
    font-size: 23px;
}
.icons{
    display: flex;
    justify-content: space-evenly;
    font-size: 35px;
    margin-top: 15px;
}